## Imports

In [8]:
import pandas as pd
import pickle

## Import Data

In [9]:
df = pd.read_csv('/Users/celestedevalroger/code/celestedv/metro_seoul/raw_data/crowd2020-2023.csv')

/var/folders/9c/7dyxp0wd7jd1wf_7m1bk36kr0000gn/T/ipykernel_74067/2331541540.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/celestedevalroger/code/celestedv/metro_seoul/raw_data/crowd2020-2023.csv')

In [10]:
df.head()

,Unnamed: 0,date,line,station_number,station_name,entry/exit,06,06-07,07-08,08-09,...,15-16,16-17,17-18,18-19,19-20,20-21,21-22,22-23,23-24,24
0,184,2023-06-30,1,156,Sinseoldong,entry,342,362,946,1238,...,951,1073,1664,2254,906,631,484,345,195,29.0
1,185,2023-06-30,1,156,Sinseoldong,exit,93,307,1021,2474,...,683,784,894,1107,846,479,503,462,414,109.0
2,375,2023-06-30,1,150,Seoul Station,exit,293,1693,4523,9700,...,2819,2982,3798,4346,3249,1854,1932,1129,660,186.0
3,176,2023-06-30,1,150,Seoul Station,entry,280,498,1672,2541,...,4113,5016,7099,9391,4576,3286,3501,2782,1153,179.0
4,180,2023-06-30,1,154,Jongno 5(o)ga,entry,73,118,230,359,...,2309,2522,3481,4070,1952,1297,1305,972,333,28.0

In [11]:
df.rename(columns = {'06': '05'}, inplace = True )
df.rename(columns = {'06-07': '06'}, inplace = True)
df.rename(columns = {'07-08': '07'}, inplace = True)
df.rename(columns = {'08-09': '08'}, inplace = True)
df.rename(columns = {'09-10': '09'}, inplace = True)
df.rename(columns = {'10-11': '10'}, inplace = True)
df.rename(columns = {'11-12': '11'}, inplace = True)
df.rename(columns = {'12-13': '12'}, inplace = True)
df.rename(columns = {'13-14': '13'}, inplace = True)
df.rename(columns = {'14-15': '14'}, inplace = True)
df.rename(columns = {'15-16': '15'}, inplace = True)
df.rename(columns = {'16-17': '16'}, inplace = True)
df.rename(columns = {'17-18': '17'}, inplace = True)
df.rename(columns = {'18-19': '18'}, inplace = True)
df.rename(columns = {'19-20': '19'}, inplace = True)
df.rename(columns = {'20-21': '20'}, inplace = True)
df.rename(columns = {'21-22': '21'}, inplace = True)
df.rename(columns = {'22-23': '22'}, inplace = True)
df.rename(columns = {'23-24': '23'}, inplace = True)

In [13]:
df['24']=0
df['01'] = 0
df['02'] = 0
df['03'] = 0
df['04'] = 0

In [14]:
df = df[['date', 'line', 'station_number', 'station_name', 'entry/exit', '01', '02', '03', '04', '05', '06',
       '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24']]

In [15]:
df.head()

,date,line,station_number,station_name,entry/exit,01,02,03,04,05,...,15,16,17,18,19,20,21,22,23,24
0,2023-06-30,1,156,Sinseoldong,entry,0,0,0,0,342,...,951,1073,1664,2254,906,631,484,345,195,0
1,2023-06-30,1,156,Sinseoldong,exit,0,0,0,0,93,...,683,784,894,1107,846,479,503,462,414,0
2,2023-06-30,1,150,Seoul Station,exit,0,0,0,0,293,...,2819,2982,3798,4346,3249,1854,1932,1129,660,0
3,2023-06-30,1,150,Seoul Station,entry,0,0,0,0,280,...,4113,5016,7099,9391,4576,3286,3501,2782,1153,0
4,2023-06-30,1,154,Jongno 5(o)ga,entry,0,0,0,0,73,...,2309,2522,3481,4070,1952,1297,1305,972,333,0

## Preprocessing

In [16]:
df['date'] = pd.to_datetime(df['date'])

In [17]:
df['line'] = df['line'].astype('int')

In [18]:
dic = {
'신촌': 'Sinchon',
'교대(법원.검찰청)': 'Seoul National Univ. of Education(Court & Prosecutors Office)',
'화랑대(서울여대입구)': 'Hwarangdae',
'남한산성입구(성남법원.검찰청)': 'Namhansanseong',
'동대문역사문화공원(DDP)(DDP)': 'Dongdaemun History Culture Park',
'낙성대': 'Nakseongdae',
'용마산': 'Yongmasan'
}

df.replace({'station_name': dic}, inplace = True)

## Transform DataFrame

In [19]:
df.head()

,date,line,station_number,station_name,entry/exit,01,02,03,04,05,...,15,16,17,18,19,20,21,22,23,24
0,2023-06-30,1,156,Sinseoldong,entry,0,0,0,0,342,...,951,1073,1664,2254,906,631,484,345,195,0
1,2023-06-30,1,156,Sinseoldong,exit,0,0,0,0,93,...,683,784,894,1107,846,479,503,462,414,0
2,2023-06-30,1,150,Seoul Station,exit,0,0,0,0,293,...,2819,2982,3798,4346,3249,1854,1932,1129,660,0
3,2023-06-30,1,150,Seoul Station,entry,0,0,0,0,280,...,4113,5016,7099,9391,4576,3286,3501,2782,1153,0
4,2023-06-30,1,154,Jongno 5(o)ga,entry,0,0,0,0,73,...,2309,2522,3481,4070,1952,1297,1305,972,333,0

In [20]:
df_final = pd.melt(df, id_vars=['date','line', 'station_number', 'station_name', 'entry/exit'], value_vars=['01', '02',
       '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'])

In [21]:
df_final['variable'] = df_final['variable'].apply(int)

In [22]:
df_final['datetime'] = pd.to_datetime(df_final['date']) + pd.to_timedelta(df_final.variable, unit = 'h')

In [23]:
df_final.drop(columns = ['date', 'variable'], inplace=True)

In [24]:
df_final.set_index('datetime', inplace = True)

In [25]:
df_final.sample(25)

,line,station_number,station_name,entry/exit,value
datetime,,,,,
2021-09-07 15:00:00,7,2742,Jangseungbaegi,entry,315
2020-03-08 04:00:00,7,2738,Isu,exit,0
2021-10-01 06:00:00,3,322,Dongguk Univ.,entry,81
2020-05-09 09:00:00,4,426,Seoul Station,entry,239
2021-07-21 03:00:00,2,227,Nakseongdae(Ganggamchan),entry,0
2022-11-11 11:00:00,5,2518,Hwagok,entry,1333
2020-04-14 22:00:00,7,2746,Daerim(Guro-gu Office),exit,285
2022-07-29 15:00:00,6,2647,Hwarangdae,exit,376
2021-11-14 22:00:00,7,2736,Express Bus Terminal,exit,147
2023-03-03 04:00:00,2,215,Jamsillaru,entry,0
2021-03-06 09:00:00,3,309,Jichuk,exit,91
2023-01-23 08:00:00,5,2563,Misa,exit,157
2020-01-29 18:00:00,2,247,Dorimcheon,entry,166
2021-06-24 00:00:00,7,2719,Taereung,exit,0
2020-03-15 23:00:00,7,2747,Namguro,exit,148
2022-01-25 23:00:00,7,2729,Konkuk Univ.,exit,143
2021-10-11 05:00:00,5,2528,Yeouinaru,entry,20
2020-03-06 14:00:00,2,210,Ttukseom,exit,583
2022-08-12 06:00:00,3,310,Gupabal,exit,336
2021-12-23 12:00:00,5,2523,Yangpyeong,exit,193
2020-07-09 05:00:00,7,2719,Taereung,exit,63
2023-03-16 14:00:00,6,2638,Changsin,exit,150
2020-09-13 15:00:00,2,209,Hanyang Univ.,exit,156
2021-04-13 06:00:00,7,2749,Cheolsan,entry,1135
2021-11-15 19:00:00,2,205,Dongdaemun History & Culture Park(DDP),entry,849

In [26]:
df_final[(df_final['station_number'] == '431') & (df_final.index == '2022-06-13')]

Empty DataFrame
Columns: [line, station_number, station_name, entry/exit, value]
Index: []

## Création liste station

In [27]:
df_final['station_name'].value_counts()

station_name
Jongno 3(sam)ga                           183888
Dongdaemun History & Culture Park(DDP)    148608
Sinseoldong                               122592
Chungjeongno(Kyonggi Univ.)               122592
Euljiro 4(sa)ga                           122592
                                           ...
Bucheon Stadium                            35088
Namwirye                                   26928
Sinnae                                      3792
Nakseongdae                                 2880
Yongmasan                                   2880
Name: count, Length: 252, dtype: int64

In [28]:
stations = df_final[['station_name', 'line']]
stations = stations.groupby(by=['station_name'])['line'].unique().reset_index()
stations = stations.explode('line')

In [29]:
stations = stations.values.tolist()

## Création dataframe entry & exit

In [30]:
df_exit = df_final[df_final['entry/exit'] == 'exit']
df_exit

,line,station_number,station_name,entry/exit,value
datetime,,,,,
2023-06-30 01:00:00,1,156,Sinseoldong,exit,0
2023-06-30 01:00:00,1,150,Seoul Station,exit,0
2023-06-30 01:00:00,1,154,Jongno 5(o)ga,exit,0
2023-06-30 01:00:00,1,153,Jongno 3(sam)ga,exit,0
2023-06-30 01:00:00,1,152,Jonggak,exit,0
...,...,...,...,...,...
2020-01-02 00:00:00,8,2813,Gangdong-gu Office,exit,0
2020-01-02 00:00:00,8,2824,Dandaeogeori,exit,0
2020-01-02 00:00:00,8,2812,Cheonho(Pungnaptoseong),exit,0
2020-01-02 00:00:00,8,2821,Bokjeong,exit,0
2020-01-02 00:00:00,8,2811,Amsa,exit,0

In [31]:
final_subway_stations = [
    'Hongik Univ.', 'Gangnam', 'Itaewon', 'Seongsu',
    'Yeouido',  'Gwanghwamun(Sejong Center for the Performing Arts)', 'Seoul Station',
      'World Cup Stadium(Seongsan)','Dongjak (Seoul National Cemetery)', 'Nokbeon',
      'Mok-dong', 'Gireum', 'Jamsilsaenae', 'Yeonsinnae','Guro Digital Complex']

In [32]:
df_charlotte = df_exit[df_exit['station_name'].isin(final_subway_stations)]

In [33]:
stations_charlotte = df_charlotte[['station_name', 'line']]
stations_charlotte = stations_charlotte.groupby(by=['station_name'])['line'].unique().reset_index()
stations_charlotte = stations_charlotte.explode('line')

In [34]:
stations_charlotte = stations_charlotte.values.tolist()

In [35]:
stations_charlotte

[['Dongjak (Seoul National Cemetery)', 4],
 ['Gangnam', 2],
 ['Gireum', 4],
 ['Guro Digital Complex', 2],
 ['Gwanghwamun(Sejong Center for the Performing Arts)', 5],
 ['Hongik Univ.', 2],
 ['Itaewon', 6],
 ['Jamsilsaenae', 2],
 ['Mok-dong', 5],
 ['Nokbeon', 3],
 ['Seongsu', 2],
 ['Seoul Station', 1],
 ['Seoul Station', 4],
 ['World Cup Stadium(Seongsan)', 6],
 ['Yeonsinnae', 3],
 ['Yeonsinnae', 6],
 ['Yeouido', 5]]

## Fit model for exit

In [36]:
import pmdarima as pm
from pmdarima.arima.utils import ndiffs

In [37]:
for station, station_line in stations[:1]:
    print(station, station_line)

Achasan(Rear Entrance to Seoul Children's Grand Park) 5

In [38]:
df_exit.sort_index(inplace = True )

/var/folders/9c/7dyxp0wd7jd1wf_7m1bk36kr0000gn/T/ipykernel_74067/3735792376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exit.sort_index(inplace = True )

In [49]:
model_list = []
for station, station_line in stations_charlotte:
    #create df
    df_station = df_exit[(df_exit['station_name'] == station.strip()) & (df_exit['line'] == int(station_line))]

    #split data test train
    train_size = 0.7
    index = round(train_size*df_station.shape[0])
    df_exit_train = df_station.iloc[:index]
    df_exit_test = df_station.iloc[index:]

    #fit model
    d = ndiffs(df_exit_train['value'])

    model = pm.auto_arima(df_exit_train['value'], seasonal=True, m=24,
                       start_p=0, max_p=3, start_q=0, max_q=3,
                       start_P=0, max_P=3, start_Q=0, max_Q=3,
                       d=d, method=""
                       trace=True, error_action='ignore', suppress_warnings=True, n_jobs=-1)

    station_number = df_station.station_number.unique()[0]
    pickle.dump(model, open(f'../autoarima_{station_number}.pkl', 'wb'))
    break

    # y_pred = model.predict()

    # yhat = y_pred[0]
    # model_list.append(yhat)
    # obs = df_exit_train[column]
    # history.append(obs)
    # print("Predicted:%f, expected:%f" %(yhat, obs))

/Users/celestedevalroger/.pyenv/versions/3.10.6/envs/metro_seoul/lib/python3.10/site-packages/pmdarima/arima/_validation.py:76: UserWarning: stepwise model cannot be fit in parallel (n_jobs=1). Falling back to stepwise parameter search.
  warnings.warn('stepwise model cannot be fit in parallel (n_jobs=%i). '

Performing stepwise search to minimize aic
 ARIMA(0,1,0)(0,0,0)[24] intercept   : AIC=230715.840, Time=0.26 sec
 ARIMA(1,1,0)(1,0,0)[24] intercept   : AIC=215360.511, Time=43.82 sec
 ARIMA(0,1,1)(0,0,1)[24] intercept   : AIC=220915.278, Time=32.39 sec
 ARIMA(0,1,0)(0,0,0)[24]             : AIC=230713.840, Time=0.09 sec
 ARIMA(1,1,0)(0,0,0)[24] intercept   : AIC=230569.491, Time=0.32 sec
 ARIMA(1,1,0)(2,0,0)[24] intercept   : AIC=inf, Time=161.02 sec

KeyboardInterrupt:

In [55]:
df_exit_train['value']

datetime
2020-01-01 01:00:00     0
2020-01-01 02:00:00     0
2020-01-01 03:00:00     0
2020-01-01 04:00:00     0
2020-01-01 05:00:00     7
                       ..
2022-06-12 18:00:00    82
2022-06-12 19:00:00    98
2022-06-12 20:00:00    84
2022-06-12 21:00:00    48
2022-06-12 22:00:00    29
Name: value, Length: 21454, dtype: int64

In [66]:
search_pipeline = pickle.load(open("/Users/celestedevalroger/code/celestedv/metro_seoul/model_arima/model_2/autoarima_211.pkl","rb"))

## Predict

In [70]:
df_exit_train['value']

datetime
2020-01-01 01:00:00     0
2020-01-01 02:00:00     0
2020-01-01 03:00:00     0
2020-01-01 04:00:00     0
2020-01-01 05:00:00     7
                       ..
2022-06-12 18:00:00    82
2022-06-12 19:00:00    98
2022-06-12 20:00:00    84
2022-06-12 21:00:00    48
2022-06-12 22:00:00    29
Name: value, Length: 21454, dtype: int64

In [72]:
search_pipeline.predict(n_periods=300)

2022-06-12 23:00:00    27.506749
2022-06-13 00:00:00    27.506749
2022-06-13 01:00:00    27.506749
2022-06-13 02:00:00    27.506749
2022-06-13 03:00:00    27.506749
                         ...
2022-06-25 06:00:00    27.506749
2022-06-25 07:00:00    27.506749
2022-06-25 08:00:00    27.506749
2022-06-25 09:00:00    27.506749
2022-06-25 10:00:00    27.506749
Freq: H, Length: 300, dtype: float64

In [79]:
search_pipeline = pickle.load(open('/Users/celestedevalroger/code/celestedv/metro_seoul/model_arima/autoarima_431.pkl',"rb"))

In [80]:
search_pipeline.predict(n_periods =24)

2022-06-12 23:00:00     22.973113
2022-06-13 00:00:00     17.393855
2022-06-13 01:00:00     16.694286
2022-06-13 02:00:00     14.834655
2022-06-13 03:00:00     19.605244
2022-06-13 04:00:00     34.225205
2022-06-13 05:00:00     44.795058
2022-06-13 06:00:00     58.135834
2022-06-13 07:00:00     75.526202
2022-06-13 08:00:00     79.002303
2022-06-13 09:00:00     98.981362
2022-06-13 10:00:00    105.321934
2022-06-13 11:00:00    103.833343
2022-06-13 12:00:00    104.049102
2022-06-13 13:00:00    103.413129
2022-06-13 14:00:00     99.374198
2022-06-13 15:00:00     98.244918
2022-06-13 16:00:00     89.509277
2022-06-13 17:00:00     83.995322
2022-06-13 18:00:00     80.013243
2022-06-13 19:00:00     74.623270
2022-06-13 20:00:00     69.147966
2022-06-13 21:00:00     64.901043
2022-06-13 22:00:00     60.053408
Freq: H, dtype: float64

In [57]:
df_exit_test.head(25)

,line,station_number,station_name,entry/exit,value
datetime,,,,,
2022-06-12 23:00:00,4,431,Dongjak (Seoul National Cemetery),exit,19
2022-06-13 00:00:00,4,431,Dongjak (Seoul National Cemetery),exit,0
2022-06-13 01:00:00,4,431,Dongjak (Seoul National Cemetery),exit,0
2022-06-13 02:00:00,4,431,Dongjak (Seoul National Cemetery),exit,0
2022-06-13 03:00:00,4,431,Dongjak (Seoul National Cemetery),exit,0
2022-06-13 04:00:00,4,431,Dongjak (Seoul National Cemetery),exit,0
2022-06-13 05:00:00,4,431,Dongjak (Seoul National Cemetery),exit,15
2022-06-13 06:00:00,4,431,Dongjak (Seoul National Cemetery),exit,92
2022-06-13 07:00:00,4,431,Dongjak (Seoul National Cemetery),exit,148
2022-06-13 08:00:00,4,431,Dongjak (Seoul National Cemetery),exit,240
2022-06-13 09:00:00,4,431,Dongjak (Seoul National Cemetery),exit,413
2022-06-13 10:00:00,4,431,Dongjak (Seoul National Cemetery),exit,170
2022-06-13 11:00:00,4,431,Dongjak (Seoul National Cemetery),exit,177
2022-06-13 12:00:00,4,431,Dongjak (Seoul National Cemetery),exit,138
2022-06-13 13:00:00,4,431,Dongjak (Seoul National Cemetery),exit,98
2022-06-13 14:00:00,4,431,Dongjak (Seoul National Cemetery),exit,123
2022-06-13 15:00:00,4,431,Dongjak (Seoul National Cemetery),exit,153
2022-06-13 16:00:00,4,431,Dongjak (Seoul National Cemetery),exit,139
2022-06-13 17:00:00,4,431,Dongjak (Seoul National Cemetery),exit,177
2022-06-13 18:00:00,4,431,Dongjak (Seoul National Cemetery),exit,207
2022-06-13 19:00:00,4,431,Dongjak (Seoul National Cemetery),exit,153
2022-06-13 20:00:00,4,431,Dongjak (Seoul National Cemetery),exit,112
2022-06-13 21:00:00,4,431,Dongjak (Seoul National Cemetery),exit,37
2022-06-13 22:00:00,4,431,Dongjak (Seoul National Cemetery),exit,29
2022-06-13 23:00:00,4,431,Dongjak (Seoul National Cemetery),exit,35

In [97]:
df_station.station_number.unique()[0]

,line,station_number,station_name,entry/exit,value
datetime,,,,,
2023-06-30 01:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2023-06-29 01:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2023-06-28 01:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2023-06-27 01:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2023-06-26 01:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
...,...,...,...,...,...
2020-01-06 00:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2020-01-05 00:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2020-01-04 00:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2020-01-03 00:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0
2020-01-02 00:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,0

## Evaluate (metrics map & mse)