## Imports

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data

### Crowding

In [90]:
crowd2023 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사_역별 일별 시간대별 승하차인원_20230630 (2).csv', encoding='euc_kr')
crowd2022 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사_역별 일별 시간대별 승하차인원 정보_20221231 (1).csv', encoding='euc_kr')
crowd2021 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv', encoding='euc_kr')
crowd2020 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv', encoding='euc_kr')
#crowd2019 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx', encoding='utf-8')

/var/folders/hk/msc7vpvd23n4fn3ktyxcpm2w0000gn/T/ipykernel_7370/1478622713.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  crowd2022 = pd.read_csv('/Users/victor/code/Arizona3000/metro_project/data/metro_crowding/서울교통공사_역별 일별 시간대별 승하차인원 정보_20221231 (1).csv', encoding='euc_kr')

### Translate

In [74]:
translate = pd.read_csv('data/translate/translate2.xlsx', encoding='euc_kr')

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0xee in position 15: illegal multibyte sequence

In [ ]:
translate

Empty DataFrame
Columns: [Microsoft Office User                                 ]
Index: []

## Merge

In [91]:
list_columns_name = ['id', 'date', 'line', 'station_number', 'station_name', 'entry/exit', '06', '06-07',
       '07-08', '08-09', '09-10', '10-11', '11-12', '12-13',
       '13-14', '14-15', '15-16', '16-17', '17-18', '18-19',
       '19-20', '20-21', '21-22', '22-23', '23-24', '24']

In [92]:
list_columns_name2 = ['date', 'line', 'station_number', 'station_name', 'entry/exit', '06', '06-07',
       '07-08', '08-09', '09-10', '10-11', '11-12', '12-13',
       '13-14', '14-15', '15-16', '16-17', '17-18', '18-19',
       '19-20', '20-21', '21-22', '22-23', '23-24', '24']

In [93]:
len(list_columns_name2)

25

In [96]:
len(crowd2021.columns)

26

In [97]:
crowd2023.columns = list_columns_name
crowd2022.columns = list_columns_name
crowd2021.columns = list_columns_name
crowd2020.columns = list_columns_name2

In [102]:
crowd2023.set_index('id', inplace=True)
crowd2022.set_index('id', inplace=True)
crowd2021.set_index('id', inplace=True)

In [103]:
crowd2023_22 = pd.concat([crowd2023, crowd2022])

In [104]:
crowd2023_21 = pd.concat([crowd2023_22, crowd2021])

In [106]:
total_crowd = pd.concat([crowd2023_21, crowd2020])

In [109]:
total_crowd.reset_index(inplace=True)

In [114]:
total_crowd.columns

Index(['index', 'date', 'line', 'station_number', 'station_name', 'entry/exit',
       '06', '06-07', '07-08', '08-09', '09-10', '10-11', '11-12', '12-13',
       '13-14', '14-15', '15-16', '16-17', '17-18', '18-19', '19-20', '20-21',
       '21-22', '22-23', '23-24', '24'],
      dtype='object')

In [115]:
total_crowd.drop(['index'], inplace=True, axis=1)

In [116]:
total_crowd

,date,line,station_number,station_name,entry/exit,06,06-07,07-08,08-09,09-10,...,15-16,16-17,17-18,18-19,19-20,20-21,21-22,22-23,23-24,24
0,2023-01-01,1호선,150,서울역,승차,215,145,231,594,923,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7.0
1,2023-01-01,1호선,150,서울역,하차,154,636,595,939,1306,...,2282,2295,2526,1930,1897,1487,991,609,280,46.0
2,2023-01-01,1호선,151,시청,승차,48,73,106,194,239,...,843,895,959,985,670,630,515,330,146,0.0
3,2023-01-01,1호선,151,시청,하차,64,247,293,463,522,...,602,575,533,456,285,267,246,154,79,18.0
4,2023-01-01,1호선,152,종각,승차,407,235,158,201,188,...,1145,1402,1223,1272,911,913,906,602,232,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704332,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0.0
704333,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0.0
704334,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0.0
704335,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0.0
704336,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3.0

## Cleaning (translate, null etc..)

### Translate