## Imports

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
df = pd.read_csv('/Users/victor/code/Arizona3000/metro_seoul/raw_data/crowd2020-2023.csv')

/var/folders/hk/msc7vpvd23n4fn3ktyxcpm2w0000gn/T/ipykernel_46292/3221239864.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/victor/code/Arizona3000/metro_seoul/raw_data/crowd2020-2023.csv')

## Preprocessing

In [7]:
import sys
sys.path.append('/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic')

from preprocess import general_preprocessing
from preprocess import model_data_preprocessing

In [8]:
df = general_preprocessing(df)

/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])
/Users/victor/code/Arizona3000/metro_seoul/metro_app/ml_logic/preprocess.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['line'] = df['line'].astype('int')

In [9]:
dic = {
'신촌': 'Sinchon',
'교대(법원.검찰청)': 'Seoul National Univ. of Education(Court & Prosecutors Office)',
'화랑대(서울여대입구)': 'Hwarangdae',
'남한산성입구(성남법원.검찰청)': 'Namhansanseong',
'동대문역사문화공원(DDP)(DDP)': 'Dongdaemun History Culture Park',
'낙성대': 'Nakseongdae',
'용마산': 'Yongmasan'
}

df.replace({'station_name': dic}, inplace = True)

In [10]:
df_final = model_data_preprocessing(df)

In [11]:
df_final

,line,station_number,station_name,entry/exit,value
datetime,,,,,
2023-06-30 01:00:00,1,156,Sinseoldong,entry,0
2023-06-30 01:00:00,1,156,Sinseoldong,exit,0
2023-06-30 01:00:00,1,150,Seoul Station,exit,0
2023-06-30 01:00:00,1,150,Seoul Station,entry,0
2023-06-30 01:00:00,1,154,Jongno 5(o)ga,entry,0
...,...,...,...,...,...
2020-01-02 00:00:00,8,2812,Cheonho(Pungnaptoseong),entry,0
2020-01-02 00:00:00,8,2821,Bokjeong,exit,0
2020-01-02 00:00:00,8,2821,Bokjeong,entry,0
2020-01-02 00:00:00,8,2811,Amsa,exit,0
2020-01-02 00:00:00,8,2811,Amsa,entry,0

In [12]:
df_final.reset_index(inplace=True)

In [13]:
df_final.sort_values(by = 'station_name')

,datetime,line,station_number,station_name,entry/exit,value
10224442,2021-09-05 15:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,565
10328718,2021-03-03 15:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,entry,666
10329273,2021-03-02 15:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,entry,676
10329274,2021-03-02 15:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,exit,628
10329827,2021-03-01 15:00:00,5,2546,Achasan(Rear Entrance to Seoul Children's Gran...,entry,406
...,...,...,...,...,...,...
14550374,2021-03-11 21:00:00,7,2725,Yongmasan(Yongma Falls Park),exit,458
8723440,2022-02-18 13:00:00,7,2725,Yongmasan(Yongma Falls Park),entry,246
8723439,2022-02-18 13:00:00,7,2725,Yongmasan(Yongma Falls Park),exit,191
13770881,2021-07-23 20:00:00,7,2725,Yongmasan(Yongma Falls Park),entry,85
7641218,2020-07-12 11:00:00,7,2725,Yongmasan(Yongma Falls Park),entry,44

In [16]:
test = df_final.isna()

In [17]:
test[test['value']  == True]

Empty DataFrame
Columns: [datetime, line, station_number, station_name, entry/exit, value]
Index: []

In [18]:
df_exit = df_final[df_final['entry/exit'] == 'exit']

In [19]:
df_exit['station_name_line'] = df_exit['station_name'] + ' ' + df_exit['line'].apply(str)

/var/folders/hk/msc7vpvd23n4fn3ktyxcpm2w0000gn/T/ipykernel_46292/3001484146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exit['station_name_line'] = df_exit['station_name'] + ' ' + df_exit['line'].apply(str)

In [20]:
df_lstm_exit = pd.pivot(df_exit.drop(columns = ['station_name','line', 'station_number', 'entry/exit']), index=['station_name_line'], columns='datetime', values='value')
df_lstm_exit.shape

(289, 30648)

In [21]:
df_lstm_exit

datetime,2020-01-01 01:00:00,2020-01-01 02:00:00,2020-01-01 03:00:00,2020-01-01 04:00:00,2020-01-01 05:00:00,2020-01-01 06:00:00,2020-01-01 07:00:00,2020-01-01 08:00:00,2020-01-01 09:00:00,2020-01-01 10:00:00,...,2023-06-30 15:00:00,2023-06-30 16:00:00,2023-06-30 17:00:00,2023-06-30 18:00:00,2023-06-30 19:00:00,2023-06-30 20:00:00,2023-06-30 21:00:00,2023-06-30 22:00:00,2023-06-30 23:00:00,2023-07-01 00:00:00
station_name_line,,,,,,,,,,,,,,,,,,,,,
Achasan(Rear Entrance to Seoul Children's Grand Park) 5,0.0,0.0,0.0,0.0,239.0,2572.0,721.0,297.0,357.0,462.0,...,755.0,987.0,1282.0,2156.0,1430.0,902.0,800.0,708.0,450.0,0.0
Aeogae 5,0.0,0.0,0.0,0.0,16.0,64.0,61.0,84.0,100.0,103.0,...,309.0,399.0,527.0,892.0,505.0,277.0,285.0,319.0,209.0,0.0
Ahyeon 2,0.0,0.0,0.0,0.0,37.0,106.0,92.0,151.0,160.0,131.0,...,608.0,646.0,915.0,1351.0,883.0,627.0,564.0,601.0,492.0,0.0
Amsa 8,0.0,0.0,0.0,0.0,37.0,157.0,150.0,282.0,287.0,275.0,...,955.0,1209.0,1839.0,2834.0,2218.0,1204.0,963.0,1156.0,766.0,0.0
Anam(Korea Univ. Hospital) 6,0.0,0.0,0.0,0.0,45.0,162.0,109.0,135.0,182.0,175.0,...,527.0,510.0,567.0,932.0,676.0,422.0,436.0,477.0,361.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeouinaru 5,0.0,0.0,0.0,0.0,37.0,316.0,408.0,257.0,176.0,193.0,...,808.0,784.0,936.0,1231.0,815.0,541.0,389.0,259.0,153.0,0.0
Yongdap 2,0.0,0.0,0.0,0.0,10.0,44.0,34.0,31.0,47.0,39.0,...,154.0,224.0,228.0,494.0,275.0,178.0,183.0,236.0,156.0,0.0
Yongdu (Dongdaemun-gu Office) 2,0.0,0.0,0.0,0.0,2.0,24.0,24.0,36.0,44.0,47.0,...,146.0,191.0,200.0,314.0,181.0,109.0,114.0,101.0,86.0,0.0
Yongmasan 7,0.0,0.0,0.0,0.0,39.0,175.0,77.0,81.0,114.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yongmasan(Yongma Falls Park) 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,343.0,420.0,580.0,834.0,709.0,371.0,371.0,378.0,256.0,0.0

In [23]:
df_lstm_exit_p = df_lstm_exit.T

In [30]:
df_lstm_exit_p

station_name_line,Achasan(Rear Entrance to Seoul Children's Grand Park) 5,Aeogae 5,Ahyeon 2,Amsa 8,Anam(Korea Univ. Hospital) 6,Anguk 3,Apgujeong 3,Balsan 5,Bangbae 2,Banghwa 5,...,Yeongdeungpo-gu Office 2,Yeongdeungpo-gu Office 5,Yeonsinnae 3,Yeonsinnae 6,Yeouido 5,Yeouinaru 5,Yongdap 2,Yongdu (Dongdaemun-gu Office) 2,Yongmasan 7,Yongmasan(Yongma Falls Park) 7
datetime,,,,,,,,,,,,,,,,,,,,,
2020-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2020-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2020-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2020-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2020-01-01 05:00:00,239.0,16.0,37.0,37.0,45.0,34.0,37.0,29.0,71.0,0.0,...,74.0,8.0,72.0,NaN,31.0,37.0,10.0,2.0,39.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-30 20:00:00,902.0,277.0,627.0,1204.0,422.0,325.0,819.0,817.0,672.0,438.0,...,839.0,169.0,2486.0,NaN,403.0,541.0,178.0,109.0,NaN,371.0
2023-06-30 21:00:00,800.0,285.0,564.0,963.0,436.0,252.0,590.0,644.0,607.0,379.0,...,714.0,118.0,2053.0,NaN,319.0,389.0,183.0,114.0,NaN,371.0
2023-06-30 22:00:00,708.0,319.0,601.0,1156.0,477.0,196.0,554.0,580.0,711.0,445.0,...,787.0,170.0,2148.0,NaN,280.0,259.0,236.0,101.0,NaN,378.0
2023-06-30 23:00:00,450.0,209.0,492.0,766.0,361.0,140.0,313.0,425.0,505.0,315.0,...,543.0,109.0,1557.0,NaN,217.0,153.0,156.0,86.0,NaN,256.0
2023-07-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0

In [190]:
df_lstm_exit.isna().sum().sort_values()

datetime
2021-12-30 00:00:00     6
2021-12-29 01:00:00     6
2021-12-29 03:00:00     6
2021-12-29 04:00:00     6
2021-12-29 05:00:00     6
                       ..
2022-06-20 19:00:00    17
2022-06-20 18:00:00    17
2022-06-20 17:00:00    17
2022-03-06 16:00:00    17
2022-12-30 00:00:00    17
Length: 30648, dtype: int64

In [191]:
df_lstm_exit.fillna(0)

datetime,2020-01-01 01:00:00,2020-01-01 02:00:00,2020-01-01 03:00:00,2020-01-01 04:00:00,2020-01-01 05:00:00,2020-01-01 06:00:00,2020-01-01 07:00:00,2020-01-01 08:00:00,2020-01-01 09:00:00,2020-01-01 10:00:00,...,2023-06-30 15:00:00,2023-06-30 16:00:00,2023-06-30 17:00:00,2023-06-30 18:00:00,2023-06-30 19:00:00,2023-06-30 20:00:00,2023-06-30 21:00:00,2023-06-30 22:00:00,2023-06-30 23:00:00,2023-07-01 00:00:00
station_name_line,,,,,,,,,,,,,,,,,,,,,
Achasan(Rear Entrance to Seoul Children's Grand Park) 5,0.0,0.0,0.0,0.0,239.0,2572.0,721.0,297.0,357.0,462.0,...,755.0,987.0,1282.0,2156.0,1430.0,902.0,800.0,708.0,450.0,0.0
Aeogae 5,0.0,0.0,0.0,0.0,16.0,64.0,61.0,84.0,100.0,103.0,...,309.0,399.0,527.0,892.0,505.0,277.0,285.0,319.0,209.0,0.0
Ahyeon 2,0.0,0.0,0.0,0.0,37.0,106.0,92.0,151.0,160.0,131.0,...,608.0,646.0,915.0,1351.0,883.0,627.0,564.0,601.0,492.0,0.0
Amsa 8,0.0,0.0,0.0,0.0,37.0,157.0,150.0,282.0,287.0,275.0,...,955.0,1209.0,1839.0,2834.0,2218.0,1204.0,963.0,1156.0,766.0,0.0
Anam(Korea Univ. Hospital) 6,0.0,0.0,0.0,0.0,45.0,162.0,109.0,135.0,182.0,175.0,...,527.0,510.0,567.0,932.0,676.0,422.0,436.0,477.0,361.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeouinaru 5,0.0,0.0,0.0,0.0,37.0,316.0,408.0,257.0,176.0,193.0,...,808.0,784.0,936.0,1231.0,815.0,541.0,389.0,259.0,153.0,0.0
Yongdap 2,0.0,0.0,0.0,0.0,10.0,44.0,34.0,31.0,47.0,39.0,...,154.0,224.0,228.0,494.0,275.0,178.0,183.0,236.0,156.0,0.0
Yongdu (Dongdaemun-gu Office) 2,0.0,0.0,0.0,0.0,2.0,24.0,24.0,36.0,44.0,47.0,...,146.0,191.0,200.0,314.0,181.0,109.0,114.0,101.0,86.0,0.0
Yongmasan 7,0.0,0.0,0.0,0.0,39.0,175.0,77.0,81.0,114.0,116.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yongmasan(Yongma Falls Park) 7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,343.0,420.0,580.0,834.0,709.0,371.0,371.0,378.0,256.0,0.0

## Model

In [ ]:
from tensorflow import convert_to_tensor

In [ ]:
#Imports
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adame
from tensorflow.keras import layers
from tensorflow.keras.layers import LSTM

#LSTM Architecture
model = Sequential()
model.add(LSTM(units = 2, activation = 'tanh', input_shape = ())
model.add(layers.Dense(1, activation = 'linear'))

#Compilation
model.compile(loss = 'mae', optimizer = Adam(lr=0.5), metrics = ['mse'])

#Fit
model.fit(X,y, epochs = 1000, verbose = 1)

#Predict
model.predict(X)

SyntaxError: '(' was never closed (3050874670.py, line 9)

In [ ]:
df_tensor.shape

TensorShape([16904088])

In [ ]:
!pip freeze | grep tensorflow